@using Knigosha.Core.Models
@using Knigosha.Core.Models.Enums
@using Knigosha.Core.ViewModels.ManageViewModels
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
}
    <div id="content">
        <div class="container">
            <div class="invisible-smartphone">
                <table width="100%" class="sc">
                    <tr>
                        <td style="width: 100%">
                            <div class="profile_header_left">
                                <div class="hello mc">
                                    <table>
                                        <tr>
                                            <td>
                                                @if (user.Photo != null)
                                                {<div class="avatar" style="width: 130px; height:130px; background-image: url(/uploads/@user.Photo);"></div> }
                                                else
                                                { <div class="avatar" style="width:130px; height:130px; background-image:url(/skin/avatar.png);"></div>}

                                            </td>
                                            <td style="padding-left:50px;">
                                                Привет, @User.Identity.Name
                                                <div class="visible-mobile" style="height:30px;"></div>
                                                @if (user.UserType == UserTypes.Student)
                                                {
                                                    <div style="height:20px;"></div>
                                                    <table class="sc mc">
                                                        <tr>
                                                            <td style="font-weight:bold;font-size:50px;" class="yellow">
                                                                @user.PercentageOfRightResponses%
                                                            </td>
                                                            <td style="padding-left:15px;font-size:18px;">
                                                                <div class="visible-mobile" style="height:10px;"></div>
                                                                правильных<br>
                                                                ответов
                                                                <div class="visible-mobile" style="height:30px;"></div>
                                                            </td>
                                                            <td style="font-weight: bold; font-size: 50px; padding-left: 40px;" class="yellow">
                                                                @user.Answers.Count
                                                            </td>
                                                            <td style="padding-left:15px;font-size:18px;">
                                                                <div class="visible-mobile" style="height:10px;"></div>
                                                                решенных<br>
                                                                викторин
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div style="padding-top:20px;font-size:20px;line-height:24px;">
                                                        Группа:
                                                        1  клас
                                                        на Dmitri Klimenko
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </td>
                        <td valign="bottom" align="right">
                            <div style="display:inline-block;text-align:center;position:relative;">
                                <div style="position:absolute;width:100%;top:60px;font-weight:bold;font-size:16px;">
                                    <span style="font-size:16px;">уровень @((int)user.Level)<br>@Html.DisplayFor(u => user.Level)</span>
                                </div>
                                <img src="/skin/mascot_header.png">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <table style="width: 100%;" class="sc">
                <tbody>
                    <tr>
                        <td valign="top" class="desktop-top-border"
                            style="width:220px;">
                            @await Html.PartialAsync("_ManageNav")
                        </td>
                        @RenderBody()
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

