@*@model Knigosha.Core.ViewModels.ManageViewModels.GroupsViewModel

@{
    ViewData["Title"] = "Группы";
}

<td colspan="2" valign="top" style="border-top:1px solid #ffdb60;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
    <div style="padding:50px;">
        <form asp-controller="Manage" asp-action="Groups" method="post">
            <input style="width:360px;max-width:100%;" asp-for="Search" placeholder="Введите имя учителя, школу или группу">
            <input type="submit" class="button" value="Поиск">
            <br>
            <br>
            <br>
        </form>
      

        @if (Model.MyGroups.Count > 0)
        {
            <h3>Мои группы</h3>
            <table style="width: 100%;" class="group_table">
                @for (int i = 0; i < Model.MyGroups.Count; i++)
                {
                    <tr>
                        <td style="padding: 10px; padding-left: 0; width: 100%; border-bottom: 1px solid #ccc;">
                            @if (!string.IsNullOrEmpty(Model.MyGroups[i].Class.Country))
                            {<span font-weight="bold">Cтрана:</span> @Model.MyGroups[i].Class.Country<br>}
                            @if (!string.IsNullOrEmpty(Model.MyGroups[i].Class.City))
                            {<span font-weight="bold">Город:</span> @Model.MyGroups[i].Class.City<br>}
                            @if (@Model.MyGroups[i].Class.School != "Выберите школу")
                            {<span font-weight="bold">Школа:</span> @Model.MyGroups[i].Class.School<br>}
                            <span font-weight="bold">Учитель:</span> @Model.MyGroups[i].Class.FullName<br>
                            <span font-weight="bold">Класс:</span> @Html.DisplayFor(m => m.MyGroups[i].Class.Grade) @if (!string.IsNullOrEmpty(Model.MyGroups[i].Class.Parallel))
                            {<span>"@Model.MyGroups[i].Class.Parallel"</span>}<br>
                            @if (!string.IsNullOrEmpty(Model.MyGroups[i].Class.NameOfGroup))
                            {<span font-weight="bold">Имя группы:</span> @Model.MyGroups[i].Class.NameOfGroup<br>}
                        </td>
                        @if (Model.MyGroups[i].IsActive)
                        {
                            <td style="padding: 10px; white-space: nowrap; text-align: center; border-bottom: 1px solid #ccc;">
                                Рабочая группа
                                <div style="height: 10px;"></div>
                                <a href="/Manage/Groups?id=@Model.MyGroups[i].&action=leave" onclick="return deleteConfirm()">Покинуть группу</a>
                            </td>
                        }

                    </tr>
                }

            </table>
            <br>
            <br>
        }


    </div>
</td>*@	