@model List<Knigosha.Core.Models.Message>
@{
    ViewData["Title"] = "Мои сообщения";
}
<td colspan="2" valign="top" style="border-top:1px solid #ffdb60;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
    <div style="padding:20px;">
        <a asp-controller="Manage" asp-action="Messages" asp-route-screen="send" class="button">Послать сообщение</a><div style="height:40px;"></div>
        <h3>СООБЩЕНИЯ</h3>
        <div class="twoButtons">
            <a asp-controller="Manage" asp-action="Messages" class="button active">Полученные</a>
            <a asp-controller="Manage" asp-action="Messages" asp-route-type="sent" class="button">Отправленные</a>
        </div>

        <div style="height:10px;"></div>
        @if (Model.Count > 0)
        {
            <table class="table">
                <tr>
                    <th>Дата</th>
                    <th>От</th>
                    <th>Кому</th>
                    <th>Тема</th>
                    <th></th>
                    <th></th>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td align="center">@Model[i].DateTime</td>
                        <td align="center">@Model[i].Sender.Name @Model[i].Sender.Surname [@Model[i].Sender.UserName]</td>
                        <td align="center" @ViewBag.Name></td>
                        <td align="center">@Model[i].Topic</td>
                        <td align="center"><a asp-controller="Manage" asp-action="Messages" asp-route-id="@Model[i].Id">Прочесть</a></td>
                        <td align="center"><a href="/Manage/Messages?to=@Model[i].Recipient.Id&subject=@Model[i].Topic&type=send">Ответить</a></td>
                    </tr>
                }
            </table>
        }
    </div>
</td>
