@model Knigosha.Core.ViewModels.ManageViewModels.MessageViewModel

@{
    ViewData["Title"] = "Создать сообщение";
}
<td colspan="2" valign="top"  style="border-top:1px solid #ffdb60;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
					
    <div style="padding:20px;">
        <div style="width:400px;">
        <form method="post" asp-action="Messages">
            <input type="hidden" name="action" value="send">
            <input type="hidden" name="screen" value="send">
            Отправка сообщения:
            <div style="height:5px;"></div>
            <input type="hidden" asp-for="@Model.Message.SenderId">
            @if(Model.Recipients.Count() == 1)
            {
                <input type="hidden" asp-for="@Model.Message.RecipientId"  value="@Model.Recipients.Last().Value">
                <input type="text"  value="@Model.Recipients.Last().Text" disabled style="width:400px;">
            }
            else
            {
                <select asp-for="@Model.Message.RecipientId" asp-items="@Model.Recipients"></select>
            }


            <div style="height:5px;"></div>

            <input type="text" placeholder="Тема" asp-for="@Model.Message.Topic" style="width:400px;">
            <div style="height:5px;"></div>
								
            <textarea placeholder="Сообщение" asp-for="@Model.Message.Body" style="width:400px;height:100px;"></textarea>
            <div style="height:5px;"></div>
								
            <input type="button" class="button" value="Назад" onclick="window.location='/Manage/Messages'">
            <input type="submit" class="button" value="Отправить">
            <div style="height:5px;"></div>
        </form>
    </div>
						
    </div>						
</td>