@using Knigosha.Views.Manage
@model Knigosha.Core.ViewModels.ManageViewModels.MessagesViewModel
@{
    ViewData["Title"] = "Отправленные сообщения";
    ViewData.AddActivePage(ManageNavPages.Messages);
}

<td colspan="2" valign="top" style="border-top:1px solid #ffdb60;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
    <div style="padding: 20px;">
      @if (Model.HasGroup)
      {
          <a asp-controller="Manage" asp-action="Messages" asp-route-type="send" class="button">Послать сообщение</a>
      }
      else
      {
          <a asp-controller="Manage" asp-action="Messages" asp-route-type="sent"  class="button">Послать сообщение</a>
      }

        <div style="height: 40px;"></div>
        <h3>СООБЩЕНИЯ</h3>
        <div class="twoButtons">
            <a asp-controller="Manage" asp-action="Messages" class="button">Полученные</a>
            <a asp-controller="Manage" asp-action="Messages" asp-route-type="sent" class="button active">Отправленные</a>
        </div>
        <div style="height: 10px;"></div>
        @if (Model.Messages.Count > 0)
        {
    <table class="table">
        <tr>
            <th>Дата</th>
            <th>От</th>
            <th>Кому</th>
            <th>Тема</th>
            <th></th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.Messages.Count; i++)
        {
            <tr style="font-weight: @(!Model.Messages[i].IsRead? "bold" : "normal")">
                <td align="center">@Model.Messages[i].DateTime</td>
                <td align="center">@Model.Messages[i].Sender.FullName [@Model.Messages[i].Sender.UserName]</td>
                <td align="center">@Model.Messages[i].Recipient.FullName [@Model.Messages[i].Recipient.UserName]</td>
                <td align="center">@Model.Messages[i].Topic</td>
                <td align="center"><a asp-controller="Manage" asp-action="Messages" asp-route-id="@Model.Messages[i].Id">Прочесть</a></td>
                <td align="center"><a href="/manage/Messages?to=@Model.Messages[i].RecipientId&subject=@Model.Messages[i].Topic&type=send">Ответить</a></td>
            </tr>
        }
    </table>
        }

    </div>
</td>

