@model Knigosha.Core.Models.Student

@{
    ViewData["Title"] = "Детали об ученике";
}
<td colspan="2" valign="top" style="border-top:1px solid #ffdb60;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
    <div style="padding:50px;">
        <table>
            <tr>
                <td>
                    <div class="avatar"
                         @if (Model.Photo != null) { <text> style="cursor: pointer; width:100px;height:100px;background-image: url(/uploads/@Model.Photo)" </text> } else { <text> style="cursor: pointer; width:100px;height:100px; background-image: url(/skin/avatar.png)" </text> }>
                    </div>
                </td>
                <td style="padding-left:20px;font-size:40px;">
                    @Model.FullName
                </td>
            </tr>
        </table>
        <div style="height:40px;"></div>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="yellow" style="font-weight: bold; font-size: 40px;">@((int)Model.Level)</td>
                            <td style="padding-left: 10px;">Уровень</td>
                        </tr>
                    </table>
                </td>
                <td style="padding-left:40px;">
                    <table>
                        <tr>
                            <td class="yellow" style="font-weight: bold; font-size: 40px;">@Model.Points</td>
                            <td style="padding-left: 10px;">Очков</td>
                        </tr>
                    </table>
                </td>
                <td style="padding-left:40px;">
                    <table>
                        <tr>
                            <td class="yellow" style="font-weight: bold; font-size: 40px;">@ViewBag.CountOfAnswers</td>
                            <td style="padding-left: 10px;">Решенных<br>викторин</td>
                        </tr>
                    </table>
                </td>
                <td style="padding-left:40px;">
                    <table>
                        <tr>
                            <td class="yellow" style="font-weight: bold; font-size: 40px;">@Model.PercentageOfRightResponses%</td>
                            <td style="padding-left: 10px;">Верных<br>ответов</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style="height:40px;"></div>
        <a asp-controller="Manage" asp-action="Messages" asp-route-to="@Model.Id" asp-route-type="send" class="button">Послать сообщение</a>




    </div>
</td>