@{
    ViewData["Title"] = "Главная";
}
@using Knigosha.Core.Models.Enums
@model Knigosha.Core.ViewModels.HomeViewModel
@functions{
    public string GetClassFromGrade(int grade)
    {
        var returnVal = String.Empty;
        switch (grade)
        {
            case 1:
                returnVal = "class1";
                break;
            case 2:
                returnVal = "class2";
                break;
            case 3:
                returnVal = "class3";
                break;
            case 4:
                returnVal = "class4";
                break;
            case 5:
                returnVal = "class5";
                break;
            case 6:
                returnVal = "class6";
                break;
            case 7:
                returnVal = "class7";
                break;
            case 8:
                returnVal = "class8";
                break;
            case 9:
                returnVal = "class9";
                break;
            case 10:
                returnVal = "class10";
                break;
            case 11:
                returnVal = "class11";
                break;
        }
        return returnVal;
    }
}

<div id="home_banner" class="visible-desktop">
    <div style="position: relative" class="container">
        <div class="banner_content ">
            <div class="text1">Онлайн игра</div>
            <div style="height: 10px"></div>
            <div class="text1">вопросы и ответы</div>
            <div style="height: 20px;"></div>
            <div class="text2">по прочтённым книгам</div>
            <div style="height: 60px;"></div>
            <a asp-controller="Home" asp-action="Index" class="button">
                Играть
            </a>
            <div style="height: 90px"></div>
            <div class="text2">* для детей</div>
        </div>
    </div>
</div>

@if(!User.Identity.IsAuthenticated)
{
    <div>
        <div class="container">
            <div style="height:50px;"></div>
            <table style="margin:auto;" class="visible-desktop">
                <tbody>
                    <tr>
                        <td style="width:260px;"><img src="/skin/step1.png"></td>
                        <td style="padding-right: 60px;"><img src="/skin/arrow.png"></td>
                        <td style="width:260px;"><img src="~/skin/step2.png" /></td>
                        <td style="padding-right:60px;"><img src="/skin/arrow.png"></td>
                        <td style="width:260px;"><img src="~/skin/step3.png" /></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;">
                            <div style="height:20px;"></div>
                            <h2>Войдите в свой аккаунт</h2>
                            <div class="dark" style="line-height:150%;">Создайте мир Книговища.</div>
                            <div style="height:30px;"></div>
                        </td>
                        <td></td>
                        <td style="vertical-align:top;">
                            <div style="height:20px;"></div>
                            <h2>Решайте викторины</h2>
                            <div class="dark" style="line-height:150%;">Найдите викторину по прочитанной книге.</div>
                            <div style="height:30px;"></div>
                        </td>
                        <td></td>
                        <td style="vertical-align:top;">
                            <div style="height:20px;"></div>
                            <h2>Получайте очки</h2>
                            <div class="dark" style="line-height:150%;">
                                При правильных ответах вы накапливаете очки и открываете уровни.
                            </div>
                            <div style="height:30px;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><a asp-controller="Account" asp-action="Register" class="button small">ЗАРЕГИСТРИРОВАТЬСЯ</a></td>
                        <td></td>
                        <td><a asp-controller="Book" asp-action="Index" class="button small">СМОТРЕТЬ КНИГИ</a></td>
                        <td></td>
                        <td><a asp-controller="Book" asp-action="Index" class="button small">ВЫБРАТЬ ВИКТОРИНУ</a></td>
                    </tr>
                </tbody>
            </table>

            <div class="visible-mobile" style="text-align:center;">
                <img src="/skin/step1.png">
                <div style="height:10px;"></div>
                <h2>Войдите в свой аккаунт</h2>
                <div class="dark" style="line-height:150%;">Создайте мир Книгоши.</div>
                <div style="height:30px;"></div>
                <a asp-controller="Account" asp-action="Register" class="button small">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                <div style="height:30px;"></div>
                <i class="fa fa-arrow-down" style="font-size:60px;"></i>
                <div style="height:50px;"></div>

                <img src="/skin/step2.png">
                <div style="height:10px;"></div>
                <h2>Решайте викторины</h2>
                <div class="dark" style="line-height:150%;">Найдите викторину по прочитанной книге.</div>
                <div style="height:30px;"></div>
                <a asp-controller="Book" asp-action="Index" class="button small">СМОТРЕТЬ КНИГИ</a>
                <div style="height:30px;"></div>
                <i class="fa fa-arrow-down" style="font-size:60px;"></i>
                <div style="height:50px;"></div>


                <img src="/skin/step3.png">
                <div style="height:10px;"></div>
                <h2>Получайте очки</h2>
                <div class="dark" style="line-height:150%;">При правильных ответах вы накапливаете очки и открываете уровни.</div>
                <div style="height:30px;"></div>
                <a asp-controller="Book" asp-action="Index" class="button small">ВЫБРАТЬ АНКЕТУ</a>
            </div>
            <div style="height:80px;"></div>
        </div>
    </div>
}

<div class="bg1">
    <div style="height: 80px;"></div>
    <div id="books">
        <h1 class="section_title" onclick="window.location='/Book/Search?sort_field=latest'">Новое в Книговище</h1>
        <div class="section_text">Новые викторины по книгам:</div>
        <table style="width: 100%" class="container sc">
            <tbody>
                <tr>
                    <td style="vertical-align: top; width: 18%; width: 18%; display: table-cell;">
                        <div class="book_div" onclick="window.location='/Book/Details?id=@Model.LatestAddedBooks[0].Id'">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="wishlist" data-book="@Model.LatestAddedBooks[0].Id"
                                     onclick="setMarkedlist(this); event.stopPropagation();"></div>
                            }
                            <img src="~/uploads/@Model.LatestAddedBooks[0].CoverPhoto" alt="coverphoto" />
                            <div style="height: 15px"></div>
                            <h3>@Model.LatestAddedBooks[0].Title</h3>
                            <div class="bookAuthor">@Model.LatestAddedBooks[0].BookAuthor</div>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.LatestAddedBooks[0].Id'">СМОТРЕТЬ КНИГУ</a>
                        </div>
                    </td>
                    <td style="width: 2.5%;"></td>
                    <td style="vertical-align: top; width: 18%">
                        <div class="book_div" onclick="window.location='/Book/Details?id=@Model.LatestAddedBooks[1].Id'">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="wishlist" data-book="@Model.LatestAddedBooks[1].Id"
                                     onclick="setMarkedlist(this); event.stopPropagation();"></div>
                            }
                            <img src="~/uploads/@Model.LatestAddedBooks[1].CoverPhoto" alt="coverphoto" />
                            <div style="height: 15px"></div>
                            <h3>@Model.LatestAddedBooks[1].Title</h3>
                            <div class="bookAuthor">@Model.LatestAddedBooks[1].BookAuthor</div>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.LatestAddedBooks[1].Id'">СМОТРЕТЬ КНИГУ</a>
                        </div>
                    </td>
                    <td style="width: 2.5%;"></td>
                    <td style="vertical-align: top; width: 18%">
                        <div class="book_div" onclick="window.location='/Book/Details?id=@Model.LatestAddedBooks[2].Id'">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="wishlist" data-book="@Model.LatestAddedBooks[2].Id"
                                     onclick="setMarkedlist(this); event.stopPropagation();"></div>
                            }
                            <img src="~/uploads/@Model.LatestAddedBooks[2].CoverPhoto" alt="coverphoto" />
                            <div style="height: 15px"></div>
                            <h3>@Model.LatestAddedBooks[2].Title</h3>
                            <div class="bookAuthor">@Model.LatestAddedBooks[2].BookAuthor</div>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.LatestAddedBooks[2].Id'">СМОТРЕТЬ КНИГУ</a>
                        </div>
                    </td>
                    <td style="width: 2.5%;"></td>
                    <td style="vertical-align: top; width: 18%">
                        <div class="book_div" onclick="window.location='/Book/Details?id=@Model.LatestAddedBooks[3].Id'">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="wishlist" data-book="@Model.LatestAddedBooks[3].Id"
                                     onclick="setMarkedlist(this); event.stopPropagation();"></div>
                            }
                            <img src="~/uploads/@Model.LatestAddedBooks[3].CoverPhoto" alt="coverphoto" />
                            <div style="height: 15px"></div>
                            <h3>@Model.LatestAddedBooks[3].Title</h3>
                            <div class="bookAuthor">@Model.LatestAddedBooks[3].BookAuthor</div>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.LatestAddedBooks[3].Id'">СМОТРЕТЬ КНИГУ</a>
                        </div>
                    </td>
                    <td style="width: 2.5%;"></td>
                    <td style="vertical-align: top; width: 18%">
                        <div class="book_div" onclick="window.location='/Book/Details?id=@Model.LatestAddedBooks[4].Id'">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="wishlist" data-book="@Model.LatestAddedBooks[4].Id"
                                     onclick="setMarkedlist(this); event.stopPropagation();"></div>
                            }
                            <img src="~/uploads/@Model.LatestAddedBooks[4].CoverPhoto" alt="coverphoto" />
                            <div style="height: 15px"></div>
                            <h3>@Model.LatestAddedBooks[4].Title</h3>
                            <div class="bookAuthor">@Model.LatestAddedBooks[4].BookAuthor</div>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.LatestAddedBooks[4].Id'">СМОТРЕТЬ КНИГУ</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 80px;"></div>
</div>
<div>
    <div style="height: 80px;"></div>
    <div id="quizes">
        <h1 class="section_title" onclick="window.location='/Book/Search/?sort_field=views'">Что читают другие</h1>
        <div class="section_text">Самые популярные книги с часто играемыми викторинами</div>
        <table class="container sc mc tc" style="width: 100%">
            <tbody>
                <tr>
                    <td style="vertical-align: top; width: 49%;">
                        <div class="quiz_bg" @*onclick="window.location='/Answer?BookId=@Model.MostPopularBooks[0].Id&UserId='"*@>
                            <table class="sc mc tc" style="width: 100%">
                                <tr>
                                    <td rowspan="2" class="quiz_left">
                                        <img src="uploads/@Model.MostPopularBooks[0].CoverPhoto" />
                                    </td>
                                    <td class="quiz_right">
                                        <div class="quiz_inner @(GetClassFromGrade((int)Model.MostPopularBooks[0].Grade))">
                                            <div class="rating">
                                                <span style="font-weight: bold">@Model.MostPopularBooks[0].AverageRating</span>/5&nbsp;
                                                <i class="@(Model.MostPopularBooks[0].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[0].AverageRating < 0.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[0].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[0].AverageRating < 1.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[0].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[0].AverageRating < 2.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[0].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[0].AverageRating < 3.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[0].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[0].AverageRating < 4.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                            </div>
                                            <div class="answers">Викторина решена <span style="font-weight: bold">@Model.MostPopularBooks[0].Answers.Count</span> раз</div>
                                            <div class="bookTitle">@Model.MostPopularBooks[0].Title</div>
                                            <div class="bookAuthor">@Model.MostPopularBooks[0].BookAuthor</div>
                                            <div class="visible-desktop">
                                                <div class="quizLabel"></div>
                                                <div class="quizYear">@Html.DisplayFor(m => m.MostPopularBooks[0].AgeGroup)</div>
                                            </div>
                                            <div class="visible-mobile quizMobileYear">@Html.DisplayFor(m => m.MostPopularBooks[0].AgeGroup)</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="quiz_button">
                                        <div class="quiz_line"></div>
                                        <div class="quiz_button">РЕШИТЬ ВИКТОРИНУ</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="width: 2%"></td>
                    <td style="vertical-align: top; width: 49%;">
                        <div class="quiz_bg" @*onclick="window.location='/Answer?BookId=@Model.MostPopularBooks[0].Id&UserId='"*@>
                            <table class="sc mc tc" style="width: 100%">
                                <tr>
                                    <td rowspan="2" class="quiz_left">
                                        <img src="uploads/@Model.MostPopularBooks[1].CoverPhoto" />
                                    </td>
                                    <td class="quiz_right">
                                        <div class="quiz_inner @(GetClassFromGrade((int)Model.MostPopularBooks[1].Grade))">
                                            <div class="rating">
                                                <span style="font-weight: bold">@Model.MostPopularBooks[1].AverageRating</span>/5&nbsp;
                                                <i class="@(Model.MostPopularBooks[1].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[1].AverageRating < 0.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[1].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[1].AverageRating < 1.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[1].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[1].AverageRating < 2.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[1].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[1].AverageRating < 3.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[1].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[1].AverageRating < 4.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                            </div>
                                            <div class="answers">Викторина решена <span style="font-weight: bold">@Model.MostPopularBooks[1].Answers.Count</span> раз</div>
                                            <div class="bookTitle">@Model.MostPopularBooks[1].Title</div>
                                            <div class="bookAuthor">@Model.MostPopularBooks[1].BookAuthor</div>
                                            <div class="visible-desktop">
                                                <div class="quizLabel"></div>
                                                <div class="quizYear">@Html.DisplayFor(m => m.MostPopularBooks[1].AgeGroup)</div>
                                            </div>
                                            <div class="visible-mobile quizMobileYear">@Html.DisplayFor(m => m.MostPopularBooks[1].AgeGroup)</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="quiz_button">
                                        <div class="quiz_line"></div>
                                        <div class="quiz_button">РЕШИТЬ ВИКТОРИНУ</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" height="40">&nbsp;</td>
                </tr>
                <tr>
                    <td style="vertical-align: top; width: 49%;">
                        <div class="quiz_bg" @*onclick="window.location='/Answer?BookId=@Model.MostPopularBooks[0].Id&UserId='"*@>
                            <table class="sc mc tc" style="width: 100%">
                                <tr>
                                    <td rowspan="2" class="quiz_left">
                                        <img src="uploads/@Model.MostPopularBooks[2].CoverPhoto" />
                                    </td>
                                    <td class="quiz_right">
                                        <div class="quiz_inner @(GetClassFromGrade((int)Model.MostPopularBooks[2].Grade))">
                                            <div class="rating">
                                                <span style="font-weight:bold">@Model.MostPopularBooks[2].AverageRating</span>/5&nbsp;
                                                <i class="@(Model.MostPopularBooks[2].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[2].AverageRating < 0.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[2].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[2].AverageRating < 1.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[2].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[2].AverageRating < 2.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[2].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[2].AverageRating < 3.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[2].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[2].AverageRating < 4.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                            </div>
                                            <div class="answers">Викторина решена <span style="font-weight: bold">@Model.MostPopularBooks[2].Answers.Count</span> раз</div>
                                            <div class="bookTitle">@Model.MostPopularBooks[2].Title</div>
                                            <div class="bookAuthor">@Model.MostPopularBooks[2].BookAuthor</div>
                                            <div class="visible-desktop">
                                                <div class="quizLabel"></div>
                                                <div class="quizYear">@Html.DisplayFor(m => m.MostPopularBooks[2].AgeGroup)</div>
                                            </div>
                                            <div class="visible-mobile quizMobileYear">@Html.DisplayFor(m => m.MostPopularBooks[2].AgeGroup)</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="quiz_button">
                                        <div class="quiz_line"></div>
                                        <div class="quiz_button">РЕШИТЬ ВИКТОРИНУ</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="width: 2%"></td>
                    <td style="vertical-align: top; width: 49%;">
                        <div class="quiz_bg" @*onclick="window.location='/Answer?BookId=@Model.MostPopularBooks[0].Id&UserId='"*@>
                            <table class="sc mc tc" style="width: 100%">
                                <tr>
                                    <td rowspan="2" class="quiz_left">
                                        <img src="uploads/@Model.MostPopularBooks[3].CoverPhoto" />
                                    </td>
                                    <td class="quiz_right">
                                        <div class="quiz_inner @(GetClassFromGrade((int)Model.MostPopularBooks[3].Grade))">
                                            <div class="rating">
                                                <span style="font-weight: bold">@Model.MostPopularBooks[3].AverageRating</span>/5&nbsp;
                                                <i class="@(Model.MostPopularBooks[3].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[3].AverageRating < 0.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[3].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[3].AverageRating < 1.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[3].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[3].AverageRating < 2.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[3].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[3].AverageRating < 3.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.MostPopularBooks[3].AverageRating == 0? "fa fa-star-o" : (Model.MostPopularBooks[3].AverageRating < 4.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                            </div>
                                            <div class="answers">Викторина решена <span style="font-weight: bold">@Model.MostPopularBooks[3].Answers.Count</span> раз</div>
                                            <div class="bookTitle">@Model.MostPopularBooks[3].Title</div>
                                            <div class="bookAuthor">@Model.MostPopularBooks[3].BookAuthor</div>
                                            <div class="visible-desktop">
                                                <div class="quizLabel"></div>
                                                <div class="quizYear">@Html.DisplayFor(m => m.MostPopularBooks[3].AgeGroup)</div>
                                            </div>
                                            <div class="visible-mobile quizMobileYear">@Html.DisplayFor(m => m.MostPopularBooks[3].AgeGroup)</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="quiz_button">
                                        <div class="quiz_line"></div>
                                        <div class="quiz_button">РЕШИТЬ ВИКТОРИНУ</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" height="40">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 80px;"></div>
</div>
<div class="bg2">
    <div style="height:80px;"></div>
    <div id="license_types">
        <h1 class="section_title" onclick="window.location='/Subscriptions/Index'">Абонементы</h1>
        <div class="section_text">
            Выберите подходящий абонемент.
            <br />
            <br />
            <strong>Если вы хотите заказать более 1 абонемента одновременно и со скидкой, пишите нам по адресу info@knigovishe.ru</strong>
        </div>
        <table class="container sc tc mc" style="width:100%;">
            <tr>
                <td style="vertical-align:top;width:23%;">
                    <div class="license license1" style="cursor:pointer; padding-top: 35px" onclick="window.location='/Account/Register'">
                        <div style="height:75px;">
                            <div class="license_text">
                                <h4>
                                    @Html.DisplayFor(m => m.Subscriptions[0].SubscriptionType)
                                </h4>
                            </div>
                        </div>
                        <div class="license_center" style="height: 237px">
                            <div class="license_text">
                                <i>Ученических профилей:</i>
                                <br>
                                <b>@Model.Subscriptions[0].NumberOfStudentProfiles</b>
                                <div style="height: 10px;"></div>
                                <i>Действителен до:</i>
                                <br>
                                <b>@Model.Subscriptions[0].ValidUntil</b>
                                <div style="height: 10px;"></div>
                                <i>Количество викторин:</i>
                                <br>
                                <b>@Model.Subscriptions[0].MaxQuizzes</b>
                            </div>
                        </div>
                        <div style="height:20px;"></div>
                        <div class="license_text" style="height: 171px;">
                            <i>Цена:</i>
                            <br>
                            <b>@Model.Subscriptions[0].CurrentPrice</b>
                        </div>
                        <div style="height:50px;"></div>
                        <a asp-controller="Account" asp-action="Register" class="button">НАЧАТЬ</a>
                    </div>
                </td>
                <td style="width:2%"></td>
                <td style="vertical-align:top;width:23%;">
                    <div class="license license1" @*onclick="window.location='/user/order?id=10'"*@ style="cursor:pointer;">
                        <div class="licenseLabel"></div>
                        <div class="licensePrice">@Model.Subscriptions[1].Discount</div>
                        <div style="height:60px;">
                            <div class="license_text">
                                <h4 style="font-size:22px; line-height:26px;"> @Html.DisplayFor(m => m.Subscriptions[1].SubscriptionType)</h4>
                            </div>
                        </div>
                        <div class="license_center" style="height: 237px">
                            <div class="license_text">
                                <i>Ученических профилей:</i>
                                <br>
                                <b>@Model.Subscriptions[1].NumberOfStudentProfiles</b>
                                <div style="height:10px;"></div>
                                <i>Действителен до:</i>
                                <br>
                                <b>@Model.Subscriptions[1].ValidUntil</b>
                                <div style="height:10px;"></div>
                                <i>Количество викторин:</i>
                                <br>
                                <b>@Model.Subscriptions[1].MaxQuizzes</b>
                            </div>
                        </div>
                        <div style="height:20px;"></div>
                        <div class="license_text" style="height: 171px;">
                            <i>Цена:</i>
                            <br>
                            <b>@Model.Subscriptions[1].CurrentPrice</b> <s>@Model.Subscriptions[1].OldPrice</s>
                            <div style="height:10px;"></div>
                            @Model.Subscriptions[1].Text1
                        </div>
                        <div class="vote_shadow" style="display:none;" onclick="$(this).hide();event.stopPropagation();">
                            <div class="vote_popup license_popup">
                            </div>
                        </div>
                        <div style="height:50px;"></div>
                        <a asp-controller="Account" asp-action="Register" class="button">ЗАКАЗАТЬ</a>
                    </div>
                </td>
                <td style="width:2%"></td>
                <td style="vertical-align:top;width:23%;">
                    <div class="license license2" @*onclick="window.location='/user/order?id=6'"*@ style="cursor:pointer;">
                        <div class="licenseLabel"></div>
                        <div class="licensePrice">@Model.Subscriptions[2].Discount</div>
                        <div style="height:60px;">
                            <div class="license_text">
                                <h4 style="font-size:22px;line-height:26px;">@Html.DisplayFor(m => m.Subscriptions[2].SubscriptionType)</h4>
                            </div>
                        </div>
                        <div class="license_center" style="height: 237px">
                            <div class="license_text">
                                <i>Родительских профилей:</i>
                                <br>
                                <b>@Model.Subscriptions[2].NumberOfParentProfiles</b>
                                <div style="height:10px;"></div>
                                <i>Ученических профилей:</i>
                                <br>
                                <b>@Model.Subscriptions[2].NumberOfStudentProfiles</b>
                                <div style="height:10px;"></div>
                                <i>Действителен до:</i>
                                <br>
                                <b>@Model.Subscriptions[2].ValidUntil</b>
                                <div style="height:10px;"></div>
                                <i>Количество викторин:</i>
                                <br>
                                <b>@Model.Subscriptions[2].MaxQuizzes</b>
                            </div>
                        </div>
                        <div style="height:20px;"></div>
                        <div class="license_text" style="height: 171px;">
                            <i>Цена:</i>
                            <br>
                            <b>@Model.Subscriptions[2].CurrentPrice</b> <s>@Model.Subscriptions[2].OldPrice</s>
                            <div style="height: 10px;"></div>
                            @Model.Subscriptions[2].Text1
                        </div>
                        <div style="height:50px;"></div>
                        <a asp-controller="Account" asp-action="Register" class="button">ЗАКАЗАТЬ</a>
                    </div>
                </td>
                <td style="width:2%"></td>
                <td style="vertical-align:top;width:23%;">
                    <div class="license license3" @*onclick="window.location='/user/order?id=1'"*@ style="cursor:pointer;">
                        <div class="licenseLabel"></div>
                        <div class="licensePrice">@Model.Subscriptions[3].Discount</div>
                        <div style="height:60px;">
                            <div class="license_text">
                                <h4 style="font-size:22px;line-height:26px;">@Html.DisplayFor(m => m.Subscriptions[3].SubscriptionType)</h4>
                            </div>
                        </div>
                        <div class="license_center" style="height: 237px">
                            <div class="license_text">
                                <i>Учительских профилей:</i>
                                <br>
                                <b>@Model.Subscriptions[3].NumberOfTeacherProfiles</b>
                                <div style="height:10px;"></div>
                                <i>Ученических профилей:</i>
                                <br>
                                <b>@Model.Subscriptions[3].NumberOfStudentProfiles</b>
                                <div style="height:10px;"></div>
                                <i>Действителен до:</i>
                                <br>
                                <b>@Model.Subscriptions[3].ValidUntil</b>
                                <div style="height:10px;"></div>
                                <i>Количество викторин:</i>
                                <br>
                                <b>@Model.Subscriptions[3].MaxQuizzes</b>
                            </div>
                        </div>
                        <div style="height:20px;"></div>
                        <div class="license_text" style="height: 171px;">
                            <i>Цена:</i>
                            <br>
                            <b>@Model.Subscriptions[3].CurrentPrice</b> <s>@Model.Subscriptions[3].OldPrice</s>
                            <div style="height:10px;"></div>@Model.Subscriptions[3].Text1
                            <br />
                            <br />
                            <a href="javascript:;" onclick="licensePopup(this); event.stopPropagation();">Дополнителные скидки</a>
                        </div>
                        <div class="vote_shadow" style="display:none;" onclick="$(this).hide();event.stopPropagation();">
                            <div class="vote_popup license_popup">
                                Дополнительные скидки при покупке нескольких классных<br />
                                абонементов одновременно:<br />
                                <br />
                                - от 3 до 5 классных абонементов – скидка 5 % <br />
                                - от 6 до 9 классных абонементов – скидка 7 % <br />
                                - от 10 до 14 классных абонементов – скидка 10 % <br />
                                - от 15 до 19 классных абонементов – скидка 12 % <br />
                                - от 20 до 24 классных абонементов – скидка 15 % <br />
                                - от 25 до 29 классных абонементов – скидка 17 % <br />
                                - от 30 до 34 классных абонементов – скидка 20 % <br />
                                - от 35 до 39 классных абонементов – скидка 25 % <br />
                                - от 40 абонементов – скидка 30 % <br />
                                <br />
                                Для информации и заявок: info@knigosha.ru
                            </div>
                        </div>
                        <div style="height:50px;"></div>
                        <a asp-controller="Account" asp-action="Register" class="button">ЗАКАЗАТЬ</a>
                    </div>
                </td>
            </tr>
        </table>
        <div style="padding-top:40px;text-align:center;">
            <a asp-controller="Subscriptions" asp-action="Index" class="button">СМОТРЕТЬ ВСЕ</a>
        </div>
    </div>
    <div style="height:60px;"></div>
</div>
@if (Model.RecentNews.Count > 0)
{
    <div id="articles" class="container">
        <div style="height:80px;"></div>
        <h1 class="section_title" onclick="window.location='/Texts/Index'">Новости Книговища</h1>

        @for (int i = 0; i < Model.RecentNews.Count; i++)
        {
            var cells = 3;
            var item = Model.RecentNews[i];
            if ((i % cells) == 0)
            {
                @:<div class="row">
                }
                <a asp-controller="Texts" asp-action="Details" asp-route-id="@item.Id" class="post col col-md-4">
                    <div class="post-sync">
                        <i class="post-date">@Model.RecentNews[i].DateAdded</i>
                        <span class="post-title">@Model.RecentNews[i].Title</span>
                        <span class="post-description">@Model.RecentNews[i].Paragraph1.Substring(0, 69)...</span>
                    </div>
                    <div class="post-image" style="background-image:url(/uploads/@Model.RecentNews[i].Photo);"></div>
                </a>
                if ((i % cells) == (cells - 1))
                {
                @:</div>
            }
        }
        <div style="height:40px;"></div>
    </div>
}
<div style="height:50px;"></div>




