@model Knigosha.Core.Models.Text

@{
    ViewData["Title"] = "Детали текста";
}
<div class="container">
    <partial name="_DashboardPartial" />
    <div id="textDetail">
        @if (Model.Photo != null)
        {<img src="~/uploads/@Model.Photo" class="coverPhoto" alt="cover photo">}
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph1)
            </dt>
            <dd class="break-word col-sm-8">
                @Html.DisplayFor(model => model.Paragraph1)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph2)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph2)
            </dd> 
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph3)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph3)
            </dd> <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph4)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph4)
            </dd> <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph5)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph5)
            </dd> <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph6)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph6)
            </dd> <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph7)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph7)
            </dd> <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph8)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph8)
            </dd> <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph9)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph9)
            </dd> <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Paragraph10)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Paragraph10)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TextType)
            </dt>
            <dd class="break-word col-sm-8">
                @Html.DisplayFor(model => model.TextType)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DateAdded)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DateEdited)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DateEdited)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn btn-secondary">Редактировать</a>
        <a style="margin-left: 20px" asp-action="IndexAdmin" class="btn btn btn-light">Назад</a>
    </div>
</div>