@model Knigosha.Core.ViewModels.TextViewModels.IndexTextViewModel

@{
    ViewData["Title"] = "Статьи";
}
<div class="page_banner visible-desktop" style="height:347px;">
    <div class="container" style="position: relative">
        <h1 style="position:absolute;top:130px;font-size:40px;left:100px;">Блог</h1>
    </div>
</div>
@if (Model.LastAddedText != null)
{
    <div id="content">
        <div class="container" id="articles">
            <table class="paragraph">
                <tr>
                    <td class="image_col image_mobile">
                        <a asp-controller="Texts" asp-action="Details" asp-route-id="@Model.LastAddedText.Id" >
                            <img src="/uploads/@Model.LastAddedText.Photo">
                        </a>
                    </td>
                    <td class="image_col">
                        <a asp-controller="Texts" asp-action="Details" asp-route-id="@Model.LastAddedText.Id">
                            <img src="/uploads/@Model.LastAddedText.Photo">
                        </a>
                    </td>
                    <td class="text_col with_image">
                        <a asp-controller="Texts" asp-action="Details" asp-route-id="@Model.LastAddedText.Id"class="at">@Model.LastAddedText.Title</a>
                        <i class="post-date">@Model.LastAddedText.DateAdded</i>
                        <div style="height:20px;"></div>
                        @Model.LastAddedText.Paragraph1.Substring(0, 69)...<br />
                        &nbsp;
                        <div style="height:20px;"></div>
                        <a asp-controller="Texts" asp-action="Details" asp-route-id="@Model.LastAddedText.Id"  class="at" style="font-size:16px;">ЧИТАТЬ ДАЛЬШЕ</a>
                    </td>
                </tr>
            </table>
            <div style="height:40px;"></div>
            @if (Model.LastAddedTexts.Count > 0)
            {
                @for (int i = 0; i < Model.LastAddedTexts.Count; i++)
                {
                    var cells = 3;
                    var item = Model.LastAddedTexts[i];
                    if ((i % cells) == 0)
                    {
                        @:<div class="row">
                        }
                        <a asp-controller="Texts" asp-action="Details" asp-route-id="@item.Id"  class="post col col-md-4">
                            <div class="post-sync">
                                <i class="post-date">@Model.LastAddedTexts[i].DateAdded</i>
                                <span class="post-title">@Model.LastAddedTexts[i].Title</span>
                                <span class="post-description">@Model.LastAddedTexts[i].Paragraph1.Substring(0, 99)...</span>
                            </div>
                            <div class="post-image" style="background-image:url(/uploads/@Model.LastAddedTexts[i].Photo);"></div>
                        </a>
                        if ((i % cells) == (cells - 1))
                        {
                        @:</div>
                    }
                }
                <div style="height:80px;"></div>
            }
        </div>
    </div>
}
