@model IEnumerable<Knigosha.Core.Models.Text>

@{
    ViewData["Title"] = "Тексты";
}
<partial name="_DashboardPartial" />
<a asp-controller="Texts" asp-action="Create" class="btn btn btn-light adminButton">Новый текст</a>
<table class="table table-bordered adminTable">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="width:11%">
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th style="width:11%">
                @Html.DisplayNameFor(model => model.DateEdited)
            </th>
            <th style="width:8%">
                @Html.DisplayNameFor(model => model.TextType)
            </th>
            <th class="deleteEditColumn"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Description)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEdited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Редактировать</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id"><i id="deleteIcon" class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
