
@using System.Globalization
@using Knigosha.Core.Models.Enums
@model Knigosha.Core.ViewModels.BookViewModels.DetailsViewModel

@{
    ViewBag.Title = "Книга";
}

@functions{

    public string GetClassFromGrade(int grade)
    {
        var returnVal = String.Empty;
        switch (grade)
        {
            case 1:
                returnVal = "class1";
                break;
            case 2:
                returnVal = "class2";
                break;
            case 3:
                returnVal = "class3";
                break;
            case 4:
                returnVal = "class4";
                break;
            case 5:
                returnVal = "class5";
                break;
            case 6:
                returnVal = "class6";
                break;
            case 7:
                returnVal = "class7";
                break;
            case 8:
                returnVal = "class8";
                break;
            case 9:
                returnVal = "class9";
                break;
            case 10:
                returnVal = "class10";
                break;
            case 11:
                returnVal = "class11";
                break;
        }
        return returnVal;
    }
}

<div class="visible-desktop">
    <div class="bookMain bg @GetClassFromGrade((int)Model.Book.Grade)">
        <div class="container">
            <div style="padding:20px;">
                <div style="font-size:30px;font-weight:bold;padding-bottom:10px;">@Model.Book.Title</div>
                <div style="font-size:25px;padding-bottom:40px;">@Model.Book.BookAuthor</div>
                @if (Model.Answer == null && Model.UserType == UserTypes.Student)
                {
                    <a asp-controller="Answer" asp-action="Quiz" asp-route-id="@Model.Book.Id" class="button">РЕШИТЬ ВИКТОРИНУ</a>
                }else if (Model.Answer == null && Model.UserType == UserTypes.Teacher)
                {
                    <a asp-controller="Answer" asp-action="Quiz" asp-route-id="@Model.Book.Id" class="button">РЕШИТЬ ВИКТОРИНУ - ВМЕСТЕ</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="visible-mobile" style="height:50px;"></div>
<div id="content" style="padding-top:0;">
    <div class="container">
        <table class="tc sc">
            <tr>
                <td valign="top" style="width:300px;">
                    <div class="book_div bg @GetClassFromGrade((int)Model.Book.Grade)" style="padding:20px;padding-top:0px;position:relative;">
                        <div class="visible-mobile" style="height:20px;"></div>
                        <div class="bookLabel bg @GetClassFromGrade((int)Model.Book.Grade)">@Html.DisplayFor(m => m.Book.AgeGroup)</div>
                        <img src="/uploads/@Model.Book.CoverPhoto" style="width:100%;">
                    </div>
                    <div style="height:20px"></div>
                    <div class="border @GetClassFromGrade((int)Model.Book.Grade)" style="padding:20px;">
                        <div style="font-weight:bold;font-size:18px;padding-bottom:5px;">@Model.Book.Title</div>
                        <div style="padding-bottom:10px;">@Model.Book.BookAuthor</div>
                        <div style="padding-bottom:10px;">Категория: <span style="font-weight: bold">@Html.DisplayFor(m => m.Book.BookCategory)</span></div>
                        <div style="padding-bottom:10px;">Год издания: <span style="font-weight: bold">@Model.Book.YearPublished</span></div>
                        <div style="padding-bottom:10px;">Издателство: <span style="font-weight: bold">@Model.Book.Publisher</span></div>
                        @if (Model.Book.Translator != null)
                        {<div style="padding-bottom:10px;">Переводчик: <span style="font-weight: bold">@Model.Book.Translator</span></div>}
                        <div style="padding-bottom:10px;">Сложность викторины: <span style="font-weight: bold">@Html.DisplayFor(m => m.Book.AgeGroup)</span></div>
                        <div style="padding-bottom:10px;">Автор викторины: <span style="font-weight: bold">@Model.Book.QuestionsAuthor</span></div>
                        <br>
                        <div class="rating">
                            <span style="font-weight: bold">@Model.Book.AverageRating.ToString(CultureInfo.GetCultureInfo("en-GB"))</span>/5&nbsp;
                            <i class="@(Model.Book.AverageRating < 0.3? "fa fa-star-o" : (Model.Book.AverageRating < 0.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                            <i class="@(Model.Book.AverageRating < 1.3? "fa fa-star-o" : (Model.Book.AverageRating < 1.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                            <i class="@(Model.Book.AverageRating < 2.3? "fa fa-star-o" : (Model.Book.AverageRating < 2.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                            <i class="@(Model.Book.AverageRating < 3.3? "fa fa-star-o" : (Model.Book.AverageRating < 3.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                            <i class="@(Model.Book.AverageRating < 4.3? "fa fa-star-o" : (Model.Book.AverageRating < 4.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                        </div>
                        <div class="yellow">Викторина решена <span style="font-weight: bold">@Model.Book.Answers.Count</span> раз</div>
                    </div>
                </td>
                <td valign="top" style="padding-left:50px;padding-top:30px;">
                    <h2>Аннотация</h2>
                    @Model.Book.Description
                    <div style="height:40px;"></div>
                    @if (Model.Answer == null && Model.UserType == UserTypes.Student)
                    {
                        <a asp-controller="Answer" asp-action="Quiz" asp-route-id="@Model.Book.Id" class="button">РЕШИТЬ ВИКТОРИНУ</a>
                        <div style="height:40px;"></div>
                    }
                    else if (Model.UserType == UserTypes.Teacher)
                    {
                        if (Model.Answer == null)
                        { <a asp-controller="Answer" asp-action="Quiz" asp-route-id="@Model.Book.Id" class="button">РЕШИТЬ ВИКТОРИНУ - ВМЕСТЕ</a> }
                        <div style="height:40px;"></div>
                        <div style="font-size:20px;line-height:30px;padding-bottom:30px;">
                            Результаты твоих учеников:<br>
                            Раз решена: <span style="font-weight: bold">@Model.CountOfStudentsAnswers</span><br>
                            Верных ответов: <span style="font-weight: bold">@Model.PercentageOfStudentsRightResponses%</span><br>
                        </div>
                    }
                    else if (Model.UserType == UserTypes.Parent)
                    {
                        <div style="font-size:20px;line-height:30px;padding-bottom:30px;">
                            Результаты твоих детей:<br>
                            Раз решена: <span style="font-weight: bold">@Model.CountOfStudentsAnswers</span><br>
                            Верных ответов: <span style="font-weight: bold">@Model.PercentageOfStudentsRightResponses%</span><br>
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (Model.MyRating == null)
                        {<div class="rate_book" data-book="@Model.Book.Id">
                                Как ты оцениваешь книгу?&nbsp;&nbsp;
                                <i class="fa fa-star-o" onmouseover="rateOver(this)" onmouseout="rateOut(this)" onclick="rateBook(this)" data-rate="1"></i>
                                <i class="fa fa-star-o" onmouseover="rateOver(this)" onmouseout="rateOut(this)" onclick="rateBook(this)" data-rate="2"></i>
                                <i class="fa fa-star-o" onmouseover="rateOver(this)" onmouseout="rateOut(this)" onclick="rateBook(this)" data-rate="3"></i>
                                <i class="fa fa-star-o" onmouseover="rateOver(this)" onmouseout="rateOut(this)" onclick="rateBook(this)" data-rate="4"></i>
                                <i class="fa fa-star-o" onmouseover="rateOver(this)" onmouseout="rateOut(this)" onclick="rateBook(this)" data-rate="5"></i>
                            </div>}
                        else
                        {
                            <div class="rated_book">
                                Твоя оценка книги:&nbsp;&nbsp;
                                <i class="@(Model.MyRating < 0.3? "fa fa-star-o" : (Model.MyRating < 0.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                <i class="@(Model.MyRating < 1.3? "fa fa-star-o" : (Model.MyRating < 1.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                <i class="@(Model.MyRating < 2.3? "fa fa-star-o" : (Model.MyRating < 2.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                <i class="@(Model.MyRating < 3.3? "fa fa-star-o" : (Model.MyRating < 3.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                <i class="@(Model.MyRating < 4.3? "fa fa-star-o" : (Model.MyRating < 4.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                            </div>
                        }
                        <div style="height:30px;"></div>
                        <a href="javascript:;" class="a1" onclick="$('#notes').show(); $(this).remove();">МОИ ЗАМЕТКИ<i style="margin-left:5px;" class="fa fa-angle-down"></i></a>
                        <div id="notes" style="display:none;">
                            <form method="post" asp-controller="Book" asp-action="Details">
                                <input type="hidden" asp-for="@Model.Action" value="makeNote">
                                <textarea asp-for="@Model.BookNoteText" placeholder="Личные заметки о книге" style="width: 100%; height: 200px;"></textarea>
                                <input type="hidden" asp-for="@Model.BookId" />
                                <br />
                                <br />
                                <input type="submit" class="button" value="Сохранить">
                            </form>
                        </div>
                        <div style="height:40px;"></div>
                    }
                    @if (Model.Answer != null)
                    {
                        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                        <script>
                            function drawCharts() {
                                var data = google.visualization.arrayToDataTable([
                                    ['', ''],
                                    ['Верные ответы', @Model.Answer.NumberOfRightResponses],
                                    ['Неверные ответы', @Model.Answer.NumberOfWrongResponses],
                                    ['Пропущенные вопросы', @Model.Answer.NumberOfSkippedQuestions],
                                ]);
                                drawPie('chart', data);
                            }

                            function drawPie(id, data) {
                                var options = {
                                    title: "",
                                    chartArea: { 'width': '280', 'height': '280' },
                                    legend: { position: 'none' },
                                    colors: ['#43925a', '#d54f24', '#ccc']
                                };
                                var chart = new google.visualization.PieChart(document.getElementById(id));
                                chart.draw(data, options);
                            }

                            google.load("visualization", "1", { packages: ["corechart"] });
                            google.setOnLoadCallback(drawCharts);
                        </script>
                        <div style="height: 40px;"></div>
                        <table style="width: 100%;" class="rt">
                            <tr>
                                <td style="width: 50%; vertical-align: top;">
                                    <h2>Статистика</h2>
                                    <div style="height: 20px;"></div>
                                    <div id="chart" style="width: 300px; height: 300px;"></div>
                                </td>
                                <td style="font-size: 16px; padding-left: 20px; vertical-align: top;">
                                    <img src="/skin/stats.png">
                                    <div style="border-top: 1px solid #f8ae00; border-bottom: 1px solid #f8ae00; padding-bottom: 20px; padding-top: 20px;">
                                        Верных ответов: <span style="font-weight: bold">@Model.Answer.NumberOfRightResponses/@Model.Book.NumberOfQuestionsForResponses</span>
                                        <div style="height: 5px;"></div>
                                        Неверных ответов: <span style="font-weight: bold">@Model.Answer.NumberOfWrongResponses/@Model.Book.NumberOfQuestionsForResponses</span>
                                        <div style="height: 5px;"></div>
                                        Пропущенных вопросов: <span style="font-weight: bold">@Model.Answer.NumberOfSkippedQuestions/@Model.Book.NumberOfQuestionsForResponses</span>
                                        <div style="height: 5px;"></div>
                                        Возрастная группа: <spsan style="font-weight: bold">@Html.DisplayFor(m => m.Book.AgeGroup)</spsan>
                                        <div style="height: 5px;"></div>
                                        Решена: <span style="font-weight: bold">@Model.Answer.DateTime.ToString("d")</span>
                                        <div style="height: 20px;"></div>
                                        <b style="font-size: 30px;">Очков: <span style="font-weight: bold">@Math.Ceiling(Model.Answer.Points)</span></b>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div style="height: 40px;"></div>
                        @if (!string.IsNullOrEmpty(Model.Answer.ReasonForRestart))
                        {
                            <span style="font-weight: bold">Запрос на перезапуск отправлен и ожидает подтверждения.</span>
                        }
                        else
                        {
                            <div style="font-size: 16px;">
                                В исключительных случаях (например, если во время заполнения викторины
                                пропал интернет или электричество),
                                <a href="javascript:;" onclick="$('#reset').show();">здесь</a> ты можешь подать заявку на перезапуск викторины.
                                Пожалуйста, опиши причину перезапуска.
                                <div id="reset" style="padding-top: 20px; display: none;">

                                    <form name="reset_form" method="post" asp-controller="Book" asp-action="Details">
                                        <input type="hidden" asp-for="@Model.Action" value="reset">
                                        <input type="hidden" asp-for="@Model.BookId" value="@Model.BookId">
                                        <textarea asp-for="@Model.ReasonForRestart" style="width: 100%; height: 100px;"></textarea>
                                        <div style="height: 10px;"></div>
                                        <a href="javascript:document.reset_form.submit();" class="button mlarge">
                                            Сделать запрос о перезапуске викторины
                                        </a>
                                    </form>
                                </div>
                            </div>
                        }
                        <div style="height: 40px;"></div>
                        <h2>Напиши твоё мнение по одному или двум вопросам:</h2>
                        <div style="height: 20px;"></div>
                        @if (Model.BookComment != null && Model.BookComment.Approved)
                        {
                            <span style="font-weight: bold">Сообщение было одобрено модератором.</span>
                        }
                        else
                        {
                            <a href="javascript:;" class="a1" onclick="$('#opinion').show();$(this).hide();">
                                Поделись мнением о книге
                                @if (!string.IsNullOrEmpty(Model.BookCommentText))
                                {
                                    <text> (Это сообщение ожидает одобрения модератора)</text>
                                }
                            </a>
                            <div id="opinion" style="display: none;">
                                <span style="font-weight: bold">
                                    Поделись мнением о книге:
                                    @if (!string.IsNullOrEmpty(Model.BookCommentText))
                                    {
                                        <text> (Это сообщение ожидает одобрения модератора)</text>
                                    }
                                </span>
                                <div style="height: 10px;"></div>
                                <form method="post" asp-controller="Book" asp-action="Details">
                                    <input type="hidden" asp-for="@Model.Action" value="saveOpinion">
                                    <input type="hidden" asp-for="@Model.BookId" value="@Model.BookId">
                                    <textarea asp-for="@Model.BookCommentText" style="width: 100%; height: 200px;"></textarea>
                                    <div style="height: 10px;"></div>
                                    <div>
                                        <input type="checkbox" asp-for="@Model.Share" checked>
                                        <span class="cb">Поделиться с другими пользователями</span>
                                    </div>
                                    <div style="height: 10px;"></div>
                                    <input type="submit" class="button" value="Сохранить">
                                </form>
                            </div>
                        }
                        <div style="height: 20px;"></div>
                        @if (Model.BookOpinion != null && Model.BookOpinion.Approved)
                        {
                            <span style="font-weight: bold">Сообщение было одобрено модератором.</span>
                        }
                        else
                        {
                            <a href="javascript:;" class="a1" onclick="$('#answerText').show();$(this).hide();">
                                @Model.OpinionQuestion
                                @if (!string.IsNullOrEmpty(Model.BookOpinionText))
                                {
                                    <text> (Это сообщение ожидает одобрения модератора)</text>
                                }
                            </a>
                            <div id="answerText" style="display: none;">
                                <span style="font-weight: bold">
                                    @Model.OpinionQuestion:
                                    @if (!string.IsNullOrEmpty(Model.BookOpinionText))
                                    {
                                        <text> (Это сообщение ожидает одобрения модератора)</text>
                                    }
                                </span>
                                <div style="height: 10px;"></div>
                                <form method="post" asp-controller="Book" asp-action="Details">
                                    <input type="hidden" asp-for="@Model.Action" value="answerText">
                                    <input type="hidden" asp-for="@Model.BookId" value="@Model.BookId">
                                    <textarea asp-for="@Model.BookOpinionText" style="width: 100%; height: 200px;"></textarea>
                                    <div style="height: 10px;"></div>
                                    <div>
                                        <input type="checkbox" asp-for="@Model.Share" checked>
                                        <span class="cb">Поделиться с другими пользователями</span>
                                    </div>
                                    <div style="height: 10px;"></div>
                                    <input type="submit" class="button" value="Сохранить">

                                </form>
                            </div>
                        }
                        <div style="height: 40px;"></div>
                        @if(Model.BookOpinionsFromOthers.Count > 0 || Model.BookCommentsFromOthers.Count > 0)
                        { <h2>Смотри, что думают другие</h2> }
                        @if (Model.BookOpinionsFromOthers.Count > 0)
                        {
                            for (int i = 0; i < Model.BookOpinionsFromOthers.Count; i++)
                            {
                                <div class="book_comment">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td rowspan="2" style="vertical-align: top; width: 50px; padding-right: 20px;">
                                                <span class="avatar" style="display: inline-block; width: 50px; height: 50px; background-image: @(Model.BookOpinionsFromOthers[i].User.Photo != null ? "url(/uploads/" + @Model.BookOpinionsFromOthers[i].User.Photo : "url(/skin/avatar.png);")"></span>
                                            </td>
                                            <td style="vertical-align: top; padding-right: 10px; width: 100%; height: 20px;">
                                                <span style="font-weight: bold">@Model.BookOpinionsFromOthers[i].User.UserName</span>
                                            </td>
                                            @if (Model.BookOpinionsFromOthers[i].BookRating != null)
                                            {
                                                <td style="text-align: right; height: 20px; white-space: nowrap;">
                                                    <table style="display: inline-block">
                                             
                                                            <tr>
                                                                <td style="padding-right: 5px; vertical-align: middle;">голосовал:</td>
                                                                <td style="vertical-align: middle;">
                                                                    <div class="rating" style="margin: 0px;">
                                                                        <i class="@(Model.BookOpinionsFromOthers[i].BookRating.Rating < 0.3 ? "fa fa-star-o" : (Model.BookOpinionsFromOthers[i].BookRating.Rating < 0.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                        <i class="@(Model.BookOpinionsFromOthers[i].BookRating.Rating < 1.3 ? "fa fa-star-o" : (Model.BookOpinionsFromOthers[i].BookRating.Rating < 1.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                        <i class="@(Model.BookOpinionsFromOthers[i].BookRating.Rating < 2.3 ? "fa fa-star-o" : (Model.BookOpinionsFromOthers[i].BookRating.Rating < 2.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                        <i class="@(Model.BookOpinionsFromOthers[i].BookRating.Rating < 3.3 ? "fa fa-star-o" : (Model.BookOpinionsFromOthers[i].BookRating.Rating < 3.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                        <i class="@(Model.BookOpinionsFromOthers[i].BookRating.Rating < 4.3 ? "fa fa-star-o" : (Model.BookOpinionsFromOthers[i].BookRating.Rating < 4.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                    
                                                    </table>
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="vertical-align: top; padding-top: 10px;">
                                                @Model.BookOpinionsFromOthers[i].BookOpinion.AnswerText                                             </td>
                                        </tr>
                                    </table>
                                </div>

                            }
                        }
                    }

                    @if (Model.BookCommentsFromOthers != null)
                    {
                        @for (int j = 0; j < Model.BookCommentsFromOthers.Count; j++)
                        {
                            <div class="book_comment">
                                <table style="width: 100%;">
                                    <tr>
                                        <td rowspan="2" style="vertical-align: top; width: 50px; padding-right: 20px;">
                                            <span class="avatar" style="display: inline-block; width: 50px; height: 50px; background-image: @(Model.BookCommentsFromOthers[j].User.Photo != null ? "url(/uploads/" + @Model.BookCommentsFromOthers[j].User.Photo : "url(/skin/avatar.png);")"></span>
                                        </td>
                                        <td style="vertical-align: top; padding-right: 10px; width: 100%; height: 20px;">
                                            <span style="font-weight: bold">@Model.BookCommentsFromOthers[j].User.UserName</span>
                                        </td>
                                        @if (Model.BookCommentsFromOthers[j].BookRating != null)
                                        {
                                            <td style="text-align: right; height: 20px; white-space: nowrap;">
                                                <table style="display: inline-block">
                                                    <tr>
                                                        <td style="padding-right: 5px; vertical-align: middle;">голосовал:</td>
                                                        <td style="vertical-align: middle;">
                                                            <div class="rating" style="margin: 0;">
                                                                <i class="@(Model.BookCommentsFromOthers[j].BookRating.Rating < 0.3 ? "fa fa-star-o" : (Model.BookCommentsFromOthers[j].BookRating.Rating < 0.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                <i class="@(Model.BookCommentsFromOthers[j].BookRating.Rating < 1.3 ? "fa fa-star-o" : (Model.BookCommentsFromOthers[j].BookRating.Rating < 1.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                <i class="@(Model.BookCommentsFromOthers[j].BookRating.Rating < 2.3 ? "fa fa-star-o" : (Model.BookCommentsFromOthers[j].BookRating.Rating < 2.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                <i class="@(Model.BookCommentsFromOthers[j].BookRating.Rating < 3.3 ? "fa fa-star-o" : (Model.BookCommentsFromOthers[j].BookRating.Rating < 3.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                                <i class="@(Model.BookCommentsFromOthers[j].BookRating.Rating < 4.3 ? "fa fa-star-o" : (Model.BookCommentsFromOthers[j].BookRating.Rating < 4.8 ? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="vertical-align: top; padding-top: 10px;">
                                            @Model.BookCommentsFromOthers[j].BookComment.Text
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                    }

                    <div style="height:80px;"></div>
                    <div id="books">
                        <h1 class="section_title">Рекомендовано для тебя</h1>
                        <table style="width:100%;" class="tc sc">
                            <tr>
                                <td style="vertical-align:top;width:23%;">
                                    <div onclick="window.location = '/Book/Details?id=@Model.Recommended[0].Id'" class="book_div">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="wishlist @(Model.BooksIds.Contains(Model.Recommended[0].Id)? "active" : "")"
                                                 data-book="@Model.Recommended[0].Id" onclick="setWishlist(this);event.stopPropagation();"></div>
                                        }
                                        <img src="/uploads/@Model.Recommended[0].CoverPhoto">
                                        <div style="height: 15px;"></div>
                                        <h3>@Model.Recommended[0].Title</h3>
                                        <div class="bookAuthor">@Model.Recommended[0].BookAuthor</div>
                                        <a href="/Book/Details?id=@Model.Recommended[0].Id">СМОТРЕТЬ </a>
                                    </div>
                                </td>
                                <td style="width:2.7%"></td>
                                <td style="vertical-align:top;width:23%;">
                                    <div onclick="window.location = '/Book/Details?id=@Model.Recommended[1].Id'" class="book_div">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="wishlist @(Model.BooksIds.Contains(Model.Recommended[1].Id)? "active" : "")"
                                                 data-book="@Model.Recommended[1].Id" onclick="setWishlist(this);event.stopPropagation();"></div>
                                        }
                                        <img src="/uploads/@Model.Recommended[1].CoverPhoto">
                                        <div style="height: 15px;"></div>
                                        <h3>@Model.Recommended[1].Title</h3>
                                        <div class="bookAuthor">@Model.Recommended[1].BookAuthor</div>
                                        <a href="/Book/Details?id=@Model.Recommended[1].Id">СМОТРЕТЬ </a>
                                    </div>
                                </td>
                                <td style="width:2.7%"></td>
                                <td style="vertical-align:top;width:23%;">
                                    <div onclick="window.location = '/Book/Details?id=@Model.Recommended[2].Id'" class="book_div">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="wishlist @(Model.BooksIds.Contains(Model.Recommended[2].Id)? "active" : "")"
                                                 data-book="@Model.Recommended[2].Id" onclick="setWishlist(this);event.stopPropagation();"></div>
                                        }
                                        <img src="/uploads/@Model.Recommended[2].CoverPhoto">
                                        <div style="height: 15px;"></div>
                                        <h3>@Model.Recommended[2].Title</h3>
                                        <div class="bookAuthor">@Model.Recommended[2].BookAuthor</div>
                                        <a href="/Book/Details?id=@Model.Recommended[2].Id">СМОТРЕТЬ </a>
                                    </div>
                                </td>
                                <td style="width:2.7%"></td>
                                <td style="vertical-align:top;width:23%;">
                                    <div onclick="window.location = '/Book/Details?id=@Model.Recommended[3].Id'" class="book_div">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="wishlist @(Model.BooksIds.Contains(Model.Recommended[3].Id)? "active" : "")"
                                                 data-book="@Model.Recommended[3].Id" onclick="setWishlist(this);event.stopPropagation();"></div>
                                        }
                                        <img src="/uploads/@Model.Recommended[3].CoverPhoto">
                                        <div style="height: 15px;"></div>
                                        <h3>@Model.Recommended[3].Title</h3>
                                        <div class="bookAuthor">@Model.Recommended[3].BookAuthor</div>
                                        <a href="/Book/Details?id=@Model.Recommended[3].Id">СМОТРЕТЬ </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="height:80px;"></div>
                </td>
            </tr>
        </table>
    </div>
</div>





