@using System.Globalization
@using Knigosha.Core.Models.Enums
@model Knigosha.Core.ViewModels.BookViewModels.IndexBookViewModel
@{
    ViewData["Title"] = "Книги";
    Layout = "_Layout";
}

@functions{
    public string GetClassFromGrade(int grade)
    {
        var returnVal = String.Empty;
        switch (grade)
        {
            case 1:
                returnVal = "class1";
                break;
            case 2:
                returnVal = "class2";
                break;
            case 3:
                returnVal = "class3";
                break;
            case 4:
                returnVal = "class4";
                break;
            case 5:
                returnVal = "class5";
                break;
            case 6:
                returnVal = "class6";
                break;
            case 7:
                returnVal = "class7";
                break;
            case 8:
                returnVal = "class8";
                break;
            case 9:
                returnVal = "class9";
                break;
            case 10:
                returnVal = "class10";
                break;
            case 11:
                returnVal = "class11";
                break;
        }
        return returnVal;
    }
}

<div class="visible-desktop">
    <div class="page_banner" style="background-color:#ffdb60; background-image: url(/skin/header_search.png);">
        <div class="container" style="position: relative">
            <h1 style="position: absolute; top:190px;left:100px; font-size:40px">Книги</h1>
        </div>
    </div>
</div>

<a href="javascript:;" name="s" style="position:relative;top:-100px;"></a>

<form name="form" class="container" asp-controller="Book" asp-action="Index" method="get" style="min-height: calc(100vh - 360px);">
    <input type="hidden" name="page">
    <input type="hidden" name="advanced">
    <div class="container">

        <div style="position:absolute;top:-20px;opacity:0;width:1px;height:1px;overflow:hidden;">
            <input type="submit">
        </div>
        <div style="padding-top:20px;padding-bottom:20px;">
            <table width="100%" class="sc">
                <tr>
                    <td style="font-size:18px;">

                        <div class="advanced" style="display:none;">
                            <div style="height:40px;"></div>
                            <select asp-for="BookPublisher" asp-items="@Model.Publishers" onchange="document.form.submit()">
                                <option value="">Все издателства</option>
                            </select>
                            <span class="mbr"></span>
                            <div style="height:10px;"></div>
                            Год издания
                            <span class="mbr"></span>
                            от:
                            <input asp-for="YearFrom" class="short">
                            до:
                            <input asp-for="YearTo" class="short" />
                            <div style="height:10px;"></div>
                            <div style="height:10px;"></div>
                            <input type="submit" class="button" value="Поиск">
                            <input type="button" class="button" value="Очистить" onclick="window.location='/Book/Index'">
                            <div style="height:40px;"></div>
                        </div>
                        @{
                            if (Model.Books.Count == 1)
                            {<span>Найдена 1 книга</span>}
                            else if (Model.Books.Count % 10 == 2 || Model.Books.Count % 10 == 3 || Model.Books.Count == 4)
                            {<span>Найдено @Model.Books.Count книги</span>}
                        else
                        {<span>Найдено @Model.Books.Count книг</span>}
                        }
                    </td>
                    <td id="sa">
                        <table class="search_right sc">
                            <tr>
                                <td style="white-space:nowrap;">
                                    <input asp-for="Keywords" placeholder="Введи название, автора, издателство или ISBN" id="k"
                                           class="search_input"><button style="border-top-left-radius:0;border-bottom-left-radius:0;padding-left:10px;padding-right:15px;" class="button" type="submit" value="">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </td>
                                <td style="padding-left:20px;">
                                    <a href="javascript:;" class="advanced_button"
                                       onclick="$('#left').remove();$('.advanced').show();$('.advanced').parent().css('text-align', 'left');document.form.advanced.value = 1; $('#sa').remove();">
                                        Раcширенный поиск <i class="fa fa-angle-down"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <table width="100%" style="border-top:1px solid #ffdb60;" class="sc tc">
            <tr>
                <td style="vertical-align:top;width:280px;">
                    <div style="background: #ffefc7; padding: 20px;">
                        <table>
                            <tr>
                                <td></td>
                                <td style="padding-bottom: 10px; font-weight: bold; font-size: 20px;" class="yellow">Категория</td>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" asp-for="Category" value="1"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px;vertical-align: top; font-size: 16px;">
                                    Художественная литература
                                </td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" asp-for="Category" value="2"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">
                                    Научнопопулярная литература
                                </td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" asp-for="Category" value="0"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px; font-weight: bold;">Все</td>
                            </tr>
                        </table>
                        <div style="height: 30px;"></div>
                        <table>
                            <tr><td></td><td style="padding-bottom: 10px; font-weight: bold; font-size: 20px;" class="yellow">Возраст</td>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" asp-for="AgeGroup" value="1"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();"
                                    style="cursor: pointer; padding-bottom: 10px;vertical-align: top; font-size: 16px;">
                                    6+
                                </td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" asp-for="AgeGroup" value="2"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">8+</td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" asp-for="AgeGroup" value="3"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">11+</td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" asp-for="AgeGroup" value="4"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">14+</td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" asp-for="AgeGroup" value="0"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this); document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px; font-weight: bold;">Все</td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td style="vertical-align:top;">
                    <div style="padding-top:20px;padding-left:40px;">
                        <div style="text-align:right;padding-bottom:40px;">
                            Вверху:
                            <div style="display:inline-block;position:relative;">
                                <select style="width:211px;" asp-for="SortField" id="sort" onchange="document.form.submit()" class="s1">
                                    <option value="latest">Самые новые</option>
                                    <option value="rating">Самые рейтинговые</option>
                                    <option value="views">Самые читаемые</option>
                                    <option value="class">Возраст</option>
                                    <option value="year">Год издания</option>
                                    <option value="title">Название</option>
                                    <option value="author">Автор</option>
                                </select>
                            </div>
                        </div>
                        @if (Model.Books.Count == 0)
                        {
                            <text>К сожалению, у нас пока нет викторины по этой книге.</text><br />
                            <text>Это твой шанс стать автором викторины в Книговище.</text><br />
                            <text>Что нужно для этого сделать ты можешь узнать</text><a asp-controller="Home" asp-action="CreateQuiz"> здесь.</a>
                        }
                        else
                        {<table class="sc tc">
                                @for (int i = 0; i < Model.Books.Count; i++)
                                {
                                    var cells = 4;
                                    var item = Model.Books[i];
                                    if (i % cells == 0)
                                    {
                                        @:<tr>
                                        }
                                        if (i % cells == cells - 1)
                                        {
                                            <td style="vertical-align: top; width: 200px;" class="book_quiz">
                                                <div class="cover @(GetClassFromGrade((int)item.Grade))"
                                                     style="background-image: url(/uploads/@Model.Books[i].CoverPhoto);"
                                                     onclick="window.location = '/Book/Details?id=@Model.Books[i].Id'">
                                                    <div class="hover bg @(GetClassFromGrade((int)item.Grade))"></div>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <div class="wishlist @(Model.BooksIds.Contains(Model.Books[i].Id)? "active": "")" data-book="@Model.Books[i].Id"
                                                             onclick="setWishlist(this); event.stopPropagation();"></div>
                                                    }
                                                    <div class="details">
                                                        <div style="display: table; width: 100%;">
                                                            <div style="display: table-row">
                                                                <div class="in">
                                                                    <div style="font-size: 18px; padding-bottom: 5px; font-weight: bold;">
                                                                        @Model.Books[i].Title
                                                                        <div style="font-size: 14px;">@Model.Books[i].BookAuthor</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="quizLabel"></div>
                                                    <div class="quizYear">@Html.DisplayFor(m => m.Books[i].AgeGroup)</div>
                                                </div>
                                                <div class="rating">
                                                    <span style="font-weight: bold">@Model.Books[i].AverageRating.ToString(CultureInfo.GetCultureInfo("en-GB"))</span>/5
                                                    <i class="@(Model.Books[i].AverageRating < 0.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 0.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                    <i class="@(Model.Books[i].AverageRating < 1.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 1.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                    <i class="@(Model.Books[i].AverageRating < 2.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 2.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                    <i class="@(Model.Books[i].AverageRating < 3.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 3.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                    <i class="@(Model.Books[i].AverageRating < 4.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 4.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                </div>
                                                <div class="bl"></div>
                                                <a href="/user/quiz?id=522" class="ba">РЕШИТЬ ВИКТОРИНУ<i class="fa fa-angle-right"></i></a>
                                            </td>
                                        @:</tr>
                                        <tr><td colspan="7" style="height: 40px;">&nbsp;</td></tr>
                                    }
                                    else
                                    {
                                        <td style="vertical-align: top; width: 200px;" class="book_quiz">
                                            <div class="cover @(GetClassFromGrade((int)item.Grade))"
                                                 style="background-image: url(/uploads/@Model.Books[i].CoverPhoto);"
                                                 onclick="window.location = '/Book/Details?id=@Model.Books[i].Id'">
                                                <div class="hover bg @(GetClassFromGrade((int)item.Grade))"></div>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <div class="wishlist @(Model.BooksIds.Contains(Model.Books[i].Id)? "active": "")" data-book="@Model.Books[i].Id"
                                                         onclick="setWishlist(this); event.stopPropagation();"></div>
                                                }
                                                <div class="details">
                                                    <div style="display: table; width: 100%;">
                                                        <div style="display: table-row">
                                                            <div class="in">
                                                                <div style="font-size: 18px; padding-bottom: 5px; font-weight: bold;">
                                                                    @Model.Books[i].Title
                                                                    <div style="font-size: 14px;">@Model.Books[i].BookAuthor</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="quizLabel"></div>
                                                <div class="quizYear">@Html.DisplayFor(m => m.Books[i].AgeGroup)</div>
                                            </div>
                                            <div class="rating">
                                                <span style="font-weight: bold">@Model.Books[i].AverageRating.ToString(CultureInfo.GetCultureInfo("en-GB"))</span>/5
                                                <i class="@(Model.Books[i].AverageRating < 0.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 0.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.Books[i].AverageRating < 1.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 1.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.Books[i].AverageRating < 2.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 2.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.Books[i].AverageRating < 3.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 3.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model.Books[i].AverageRating < 4.3? "fa fa-star-o" : (Model.Books[i].AverageRating < 4.8? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                            </div>
                                            <div class="bl"></div>
                                            <a href="/user/quiz?id=522" class="ba">РЕШИТЬ ВИКТОРИНУ<i class="fa fa-angle-right"></i></a>
                                        </td>
                                        @if (i != Model.Books.Count - 1)
                                        {
                                            <td width="30">&nbsp;</td>
                                        }
                                        else
                                        {
                                            @:</tr>
                                            <tr><td colspan="7" style="height: 40px;">&nbsp;</td></tr>
                                        }
                                    }
                                }
                            </table>

                            @if (Model.TotalPages > 1)
                            {
                                <div class="pagination">
                                    <a href="javascript:;" onclick="go_to_page(1)" class="page_link first-page @(Model.EnablePrevious? " " : "disabled")">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                    <a href="javascript:;" onclick="go_to_page(1)" class="page_link prev-page @(Model.EnablePrevious? " " : "disabled")">
                                        <i class="fa fa-angle-left"></i>
                                    </a>

                                    @{
                                        var previousPageIsEllipsis = false;

                                        for (var i = 1; i < Model.TotalPages + 1; i++)
                                        {
                                            var linkClass = (i == Model.CurrentPage) ? "active" : " ";

                                            if (i == Model.CurrentPage)
                                            {

                                                <a href="javascript:;" onclick="go_to_page(@i)" class="page_link page @linkClass">@i</a>

                                                previousPageIsEllipsis = false;
                                            }
                                            else
                                            {
                                                if (i == 1
                                                    || i == 2
                                                    || i == Model.CurrentPage - 2
                                                    || i == Model.CurrentPage - 1
                                                    || i == Model.CurrentPage + 1
                                                    || i == Model.CurrentPage + 2
                                                    || i == Model.TotalPages - 1
                                                    || i == Model.TotalPages)
                                                {

                                                    <a href="javascript:;" onclick="go_to_page(@i)" class="page_link page @linkClass">@i</a>

                                                    previousPageIsEllipsis = false;
                                                }
                                                else
                                                {
                                                    if (previousPageIsEllipsis)
                                                    {
                                                        continue;
                                                    }
                                                    else
                                                    {
                                                        <span class="space">...</span>
                                                        previousPageIsEllipsis = true;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    <a href="javascript:;" onclick="go_to_page(@(Model.CurrentPage + 1))" class="page_link next-page  @(Model.EnableNext? " " : "disabled")">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="javascript:;" onclick="go_to_page(@Model.TotalPages)" class="page_link last-page  @(Model.EnableNext? " " : "disabled")">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </div>

                            }
                        }
                    </div>
                    </td>
                    </tr>
                    </table>
                    </div>
                </form>