@model System.Collections.Generic.List<Knigosha.Core.Models.Book>

@{
    ViewData["Title"] = "Книги";
    Layout = "_Layout";
}

<div class="visible-desktop">
    <div class="page_banner" style="background-color:#ffdb60;">
        <div class="container" style="position: relative">
            <h1 style="position: absolute; top:130px;left:100px; font-size:40px">Книги</h1>
        </div>
    </div>
</div>

<a href="javascript:;" name="s" style="position:relative;top:-100px;"></a>

<form name="form" class="container" asp-controller="Book" asp-action="Search"
      onsubmit="
        if($('#ka').is(':visible')){
			this.keywords.value=$('#ka').val();
			return true;
        }
		this.keywords.value=$('#k').val();
		return true;
	">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="advanced" value="">
    <input type="hidden" name="keywords" value="">

    <div class="container">

        <div style="position:absolute;top:-20px;opacity:0;width:1px;height:1px;overflow:hidden;">
            <input type="submit">
        </div>

        <div style="padding-top:20px;padding-bottom:20px;">
            <table width="100%" class="sc">
                <tr>
                    <td style="font-size:16px;">

                        <div class="advanced" style="display:none;">
                            <div style="height:40px;"></div>

                            <select name="publisher" asp-items="@ViewBag.Publishers" onchange="document.form.submit()">
                                <option value="0">Все издателства</option>
                               
                            </select>

                            <span class="mbr"></span>

                            <div style="height:10px;"></div>

                            Год издания

                            <span class="mbr"></span>

                            от:
                            <input type="text" value="" class="short" name="year_from">

                            до:
                            <input type="text" value="" class="short" name="year_to">

                            <div style="height:10px;"></div>

                            Введите название, автора, издателство или ISBN:

                            <input type="text" id="ka" value="" style="width:400px;">

                            <div style="height:10px;"></div>

                            <input type="submit" class="button" value="Поиск">
                            <input type="button" class="button" value="Очистить" onclick="window.location='/Search'">

                            <div style="height:40px;"></div>
                        </div>
                        Найдено @Model.Count() книг
                    </td>
                    <td id="sa">
                        <table class="search_right sc">
                            <tr>
                                <td style="white-space:nowrap;">
                                    <input type="text" placeholder="Введите название, автора, издателство или ISBN " id="k"
                                           value="" class="search_input"><a href="javascript:;" style="border-top-left-radius:0;border-bottom-left-radius:0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  padding-left:10px;padding-right:15px;"class="button" value="Поиск" onclick="document.form.keywords.value=$('#k').val(); document.form.submit();"><i class="fa fa-search"></i></a>
                                </td>
                                <td style="padding-left:20px;">
                                    <a href="javascript:;" class="advanced_button" 
                                       onclick="$('#left').remove();
                                                $('.advanced').show();
                                                $('.advanced').parent().css('text-align', 'left');
                                                document.form.advanced.value = 1; $('#sa').remove();">
                                        Разширеный поиск <i class="fa fa-angle-down"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <table width="100%" style="border-top:1px solid #ffdb60;" class="sc tc">
            <tr>
                <td style="vertical-align:top;width:280px;">
                    <div style="background: #ffefc7; padding: 20px;">
                        <table>
                            <tr><td></td><td style="padding-bottom: 10px; font-weight: bold; font-size: 20px;" class="yellow">Категория</td>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" name="category" value="1"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px;vertical-align: top; font-size: 16px;">
                                    Художественная литература
                                </td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" name="category" value="2"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">
                                    Научнопопулярная литература
                                </td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" name="category" value="0"
                                           checked onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px; font-weight: bold;">Все</td>
                            </tr>
                        </table>

                        <div style="height: 30px;"></div>

                        <table>
                            <tr><td></td><td style="padding-bottom: 10px; font-weight: bold; font-size: 20px;" class="yellow">Возраст</td>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" name="class" value="1"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">6+</td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" name="class" value="2-4"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">8+</td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" name="class" value="5-7"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">11+</td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" name="class" value="8-12"
                                           onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this);document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px;">14+</td>
                            </tr>
                            <tr class="check">
                                <td style="vertical-align: top; width: 30px;">
                                    <input type="radio" name="class" value="0"
                                           checked onclick="document.form.submit()">
                                </td>
                                <td onclick="check(this); document.form.submit();" style="cursor: pointer; padding-bottom: 10px; vertical-align: top; font-size: 16px; font-weight: bold;">Все</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="vertical-align:top;">
                    <div style="padding-top:20px;padding-left:40px;">
                        <div style="text-align:right;padding-bottom:40px;">
                            Подреди по:

                            <div style="display:inline-block;position:relative;">
                                <select style="width:200px;" name="sort_field" id="sort" onchange="document.form.submit()" class="s1">
                                    <option value="latest">Самые новые</option>
                                    <option value="rating">Самые рейтинговые</option>
                                    <option value="views">Самые читаемые</option>
                                    <option value="class">Возраст</option>
                                    <option value="year">Год издания</option>
                                    <option value="title">Название</option>
                                    <option value="author">Автор</option>
                                </select>
                            </div>
                        </div>
                        <table class="sc tc">
                            @for (int i = 0; i < Model.Count; i++)
                                {
                                    var cells = 4;
                                    var item = Model[i];
                                    if ((i % cells) == 0)
                                    {
                                        @:<tr>
                                        }
                                        if ((i % cells) == (cells - 1))
                                        {
                                            <td style="vertical-align: top; width: 200px;" class="book_quiz">
                                                <div class="cover class4"
                                                     style="background-image: url(/uploads/@Model[i].CoverPhoto);"
                                                     onclick="window.location = '/Book/Details?id=@Model[i].Id'">
                                                    <div class="hover bg class4"></div>
                                                    <div class="details">
                                                        <div style="display: table; width: 100%;">
                                                            <div style="display: table-row">
                                                                <div class="in">
                                                                    <div style="font-size: 18px; padding-bottom: 5px; font-weight: bold;">
                                                                        @Model[i].Title
                                                                        <div style="font-size: 14px;">@Model[i].BookAuthor</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="quizLabel"></div>
                                                        <div class="quizYear">@Html.DisplayFor(m =>m[i].AgeGroup)</div>
                                                    </div>
                                                </div>
                                                <div class="rating">
                                                    <b>@Model[i].AverageRating</b>/5 &nbsp;
                                                    <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 0.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                    <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 1.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                    <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 2.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                    <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 3.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                    <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 4.5? "fa fa-star-half-o" : "fa fa-star"))"></i>

                                                </div>
                                                <div class="bl"></div>
                                                <a href="/user/quiz?id=522" class="ba">РЕШИТЬ ВИКТОРИНУ<i class="fa fa-angle-right"></i></a>
                                            </td>
                                        @:</tr>
                                        <tr><td colspan="7" style="height: 40px;">&nbsp;</td></tr>
                                    }
                                    else
                                    {
                                        <td style="vertical-align: top; width: 200px;" class="book_quiz">
                                            <div class="cover class4"
                                                 style="background-image: url(/uploads/@Model[i].CoverPhoto);"
                                                 onclick="window.location = '/Book/Details?id=@Model[i].Id'">
                                                <div class="hover bg class4"></div>
                                                <div class="details">
                                                    <div style="display: table; width: 100%;">
                                                        <div style="display: table-row">
                                                            <div class="in">
                                                                <div style="font-size: 18px; padding-bottom: 5px; font-weight: bold;">
                                                                    @Model[i].Title
                                                                    <div style="font-size: 14px;">@Model[i].BookAuthor</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="quizLabel"></div>
                                                    <div class="quizYear">@Html.DisplayFor(m =>m[i].AgeGroup)</div>
                                                </div>
                                            </div>
                                            <div class="rating">
                                                <b>@Model[i].AverageRating</b>/5 &nbsp;
                                                <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 0.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 1.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 2.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 3.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                                <i class="@(Model[i].AverageRating == 0? "fa fa-star-o" : (Model[i].AverageRating < 4.5? "fa fa-star-half-o" : "fa fa-star"))"></i>
                                            </div>
                                            <div class="bl"></div>
                                            <a href="/user/quiz?id=522" class="ba">РЕШИТЬ ВИКТОРИНУ<i class="fa fa-angle-right"></i></a>
                                        </td>
                                        <td width="30">&nbsp;</td>
                                    }

                                }
                                
                            </table>
                    </div>
                </td>
            </tr>
        </table>


    </div>
</form>