@using Knigosha.Core.Models.Enums
@model Knigosha.Core.Models.Student
<div class="invisible-smartphone">
    <table width="100%" class="sc">
        <tr>
            <td style="width: 100%">
                <div class="profile_header_left">
                    <div class="hello mc">
                        <table>
                            <tr>
                                <td>
                                    @if (Model.Photo != null)
                                    {
                                        <div class="avatar" style="width: 130px; height: 130px; background-image: url(/uploads/@Model.Photo);"></div>
                                    }
                                    else
                                    {
                                        <div class="avatar" style="width: 130px; height: 130px; background-image: url(/skin/avatar.png);"></div>}

                                </td>
                                <td style="padding-left: 50px;">
                                    Привет, @User.Identity.Name
                                    <div class="visible-mobile" style="height: 30px;"></div>
                                    @if (Model != null)
                                    {
                                        <div style="height: 20px;"></div>
                                        <table class="sc mc">
                                            <tr>
                                                <td style="font-weight: bold; font-size: 50px;" class="yellow">
                                                    @Model.PercentageOfRightResponses%
                                                </td>
                                                <td style="padding-left: 10px; font-size: 18px;">
                                                    <div class="visible-mobile" style="height: 10px;"></div>
                                                    правильных<br>
                                                    ответов
                                                    <div class="visible-mobile" style="height: 30px;"></div>
                                                </td>
                                                <td style="font-weight: bold; font-size: 50px; padding-left: 40px;" class="yellow">
                                                    @Model.Answers.Count
                                                </td>
                                                <td style="padding-left: 10px; font-size: 18px;">
                                                    <div class="visible-mobile" style="height: 10px;"></div>
                                                    решенных<br>
                                                    викторин
                                                </td>
                                            </tr>
                                        </table>
                                        @if (Model.StudentClasses.SingleOrDefault(sc => sc.IsActive) != null)
                                        {
                                            <div style="padding-top: 20px; font-size: 20px; line-height: 24px;">
                                                Группа: @Model.StudentClasses.Single(sc => sc.IsActive).Class.NameOfGroup
                                                @Model.StudentClasses.Single(sc => sc.IsActive).Class.Grade @Model.Student.StudentClasses.Single(sc => sc.IsActive).Class.FullName
                                            </div>
                                        }

                                    }
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </td>
            <td valign="bottom" align="right">
                <div style="display: inline-block; text-align: center; position: relative;">
                    <div style="position: absolute; width: 100%; top: 60px; font-weight: bold; font-size: 16px;">
                        <span style="font-size: 16px;">уровень @((int)Model.Level)<br>@Html.DisplayFor(u => Model.Level)</span>
                    </div>
                    <img src="/skin/mascot_header.png">
                </div>
            </td>
        </tr>
    </table>
</div>