@model Knigosha.Core.Models.Subscription

@{
    ViewData["Title"] = "Удалить абонемент";
}
<partial name="_DashboardPartial" />
<div>
    <div class="header">
        <h4>Вы уверены, что хотите удалить этот абонемент?</h4>
        <a asp-action="IndexAdmin" class="btn btn btn-light ">Назад к абонементам</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SubscriptionType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SubscriptionType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MaxQuizzes)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MaxQuizzes)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfStudentProfiles)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NumberOfStudentProfiles)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfParentProfiles)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NumberOfParentProfiles)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfTeacherProfiles)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NumberOfTeacherProfiles)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ValidUntil)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BankData)
        </dt>
        <dd class="break-word col-sm-8">
            @Html.DisplayFor(model => model.BankData)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Text1)
        </dt>
        <dd class="break-word col-sm-8">
            @Html.DisplayFor(model => model.Text1)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Text2)
        </dt>
        <dd class="break-word col-sm-8">
            @Html.DisplayFor(model => model.Text2)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Text3)
        </dt>
        <dd class="break-word col-sm-8">
            @Html.DisplayFor(model => model.Text3)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
