@model System.Collections.Generic.List<Knigosha.Core.Models.Subscription>

@{
    ViewData["Title"] = "Абонементы";
}

<div id="content">
    <div class="bg2">
        <div style="height:80px;"></div>
        <div class="container" id="license_types">
            <h1 class="section_title">АБОНЕМЕНТЫ</h1>
            <div class="section_text">
                Выбери подходящий абонемент.<br />
                <br />
                При регистрации профиля автоматически начинается <span style="font-weight: bold">трёхнедельный демо-период</span>. 
                Чтобы продолжить пользование после этого периода, нужно выбрать абонемент.<br />
                <br />
                Все подписки действительны до @Model[0].ValidUntil.<br />
                <br />
                <span style="font-weight: bold ">Если ты хочешь заказать более 1 абонемента одновременно и со скидкой, пиши нам по адресу info@knigovishe.ru</span>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="license license1" @*onclick="window.location = '/Manage/Order'"*@ style="cursor: pointer;">
                        <div style="height: 60px;">
                            <div class="license_text">
                                <h4 style="font-size: 22px; line-height: 26px;">@Html.DisplayFor(m => m[0].Name)</h4>
                            </div>
                        </div>
                        <div class="license_center ">
                            <div class="license_text">
                                <i>Ученических профилей:</i><br><b>@Model[0].NumberOfStudentProfiles</b><div style="height: 10px;"></div>
                                <i>Действителен до:</i><br><b>@Model[0].ValidUntil</b><div style="height: 10px;"></div>
                                <i>Количество викторин:</i><br><b>@Model[0].MaxQuizzes</b>
                            </div>
                        </div>
                        <div style="height: 20px;"></div>
                        <div class="license_text license_price ">
                            <i>Цена:</i><br><b>@Model[0].CurrentPrice</b>
                        </div>
                        <div class="vote_shadow" style="display: none;" onclick="$(this).hide();event.stopPropagation();">
                            <div class="vote_popup license_popup"></div>
                        </div>
                        <div style="height: 40px;"></div>
                        <a @*asp-controller="Manage" asp-action="Order"*@  class="button">Заказать</a>
                    </div>
                    <div style="height: 50px;"></div>
                </div>
                <div class="col col-md-4">
                    <div class="license license2" @*onclick="window.location = '/Manage/Order'"*@  style="cursor:pointer;">
                        <div style="height:60px;">
                            <div class="license_text">
                                <h4 style="font-size:22px;line-height:26px;">@Html.DisplayFor(m => m[1].Name)</h4>
                            </div>
                        </div>
                        <div class="license_center ">
                            <div class="license_text">
                                <i>Родителских профилей:</i><br><b>@Model[1].NumberOfParentProfiles</b><div style="height:10px;"></div>
                                <i>Ученических профилей:</i><br><b>@Model[1].NumberOfStudentProfiles</b><div style="height:10px;"></div>
                                <i>Действителен до:</i><br><b>@Model[1].ValidUntil</b><div style="height:10px;"></div>
                                <i>Количество викторин:</i><br><b>@Model[1].MaxQuizzes</b>
                            </div>
                        </div>
                        <div style="height:20px;"></div>
                        <div class="license_text license_price "><i>Цена:</i><br><b>@Model[1].CurrentPrice</b></div>
                        <div class="vote_shadow" style="display:none;" onclick="$(this).hide();event.stopPropagation();">
                            <div class="vote_popup license_popup"></div>
                        </div>
                        <div style="height:40px;"></div>
                        <a @*asp-controller="Manage" asp-action="Order"*@ class="button">Заказать</a>
                    </div>
                    <div style="height:50px;"></div>
                </div>
                <div class="col col-md-4">
                    <div class="license license3"  @*onclick="window.location = '/Manage/Order'"*@ style="cursor:pointer;">
                        <div style="height:60px;">
                            <div class="license_text">
                                <h4 style="font-size:22px;line-height:26px;">@Html.DisplayFor(m => m[2].Name)</h4>
                            </div>
                        </div>
                        <div class="license_center ">
                            <div class="license_text">
                                <i>Учительских профилей:</i><br><b>@Model[2].NumberOfTeacherProfiles</b><div style="height:10px;"></div>
                                <i>Ученических профилей:</i><br><b>@Model[2].NumberOfStudentProfiles</b><div style="height:10px;"></div>
                                <i>Действителен до:</i><br><b>@Model[2].ValidUntil</b><div style="height:10px;"></div>
                                <i>Количество викторин:</i><br><b>@Model[2].MaxQuizzes</b>
                            </div>
                        </div>
                        <div style="height:20px;"></div>
                        <div class="license_text license_price ">
                            <i>Цена:</i><br><b>@Model[2].CurrentPrice</b>
                            <div style="height:20px;"></div>
                            <a href="javascript:;" onclick="licensePopup(this);event.stopPropagation();">Скидки при покупке от трёх абонементов</a>
                        </div>
                        <div class="vote_shadow" style="display:none;" onclick="$(this).hide();event.stopPropagation();">
                            <div class="vote_popup license_popup">
                                Дополнительные скидки при покупке нескольких классных<br />
                                абонементов одновременно:<br />
                                <br />
                                - от 3 до 5 классных абонементов – скидка 5 % <br />
                                - от 6 до 9 классных абонементов – скидка 7 % <br />
                                - от 10 до 14 классных абонементов – скидка 10 % <br />
                                - от 15 до 19 классных абонементов – скидка 12 % <br />
                                - от 20 до 24 классных абонементов – скидка 15 % <br />
                                - от 25 до 29 классных абонементов – скидка 17 % <br />
                                - от 30 до 34 классных абонементов – скидка 20 % <br />
                                - от 35 до 39 классных абонементов – скидка 25 % <br />
                                - от 40 абонементов – скидка 30 % <br />
                                <br />
                                Для информации и заявок: info@knigovishe.ru
                            </div>
                        </div>
                        <div style="height:40px;"></div>
                        <a @*asp-controller="Manage" asp-action="Order"*@ class="button">Заказать</a>
                    </div>
                    <div style="height:50px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

