@model Knigosha.Core.Models.Question

@{
    ViewData["Title"] = "Детали вопросоа";
}
<partial name="_DashboardPartial" />

<div id="questionDetail">
    <h4>Вопрос к книге @Html.DisplayFor(model => model.Book.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Текст вопроса:
        </dt>
        <dd class = "break-word col-sm-8"  >
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-4">
            Правильный ответ: 
        </dt>
        <dd class = "break-word col-sm-8" >
            @Html.DisplayFor(model => model.RightAnswer)
        </dd>
        <dt class = "col-sm-4">
            Первый неправильный ответ:
        </dt>
        <dd class = "break-word  col-sm-8" style="word-wrap: break-word">
            @Html.DisplayFor(model => model.WrongAnswer1)
        </dd>
        <dt class = "col-sm-4">
            Второй неправильный ответ:
        </dt>
        <dd class = "break-word col-sm-8">
            @Html.DisplayFor(model => model.WrongAnswer2)
        </dd>
        <dt class = "col-sm-4">
            Тип вопроса:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.QuestionType)
        </dd>
 
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"class="btn btn btn-secondary">Редактировать</a>
    <a style="margin-left: 20px" asp-action="Index" asp-route-id="@Model.BookId" class="btn btn btn-light">Назад</a>
</div>
